.grid-pane {
  -fx-background-color: #f0f0f0; /* Set the background color of the GridPane */
}

.nav-button {
  -fx-background-color: transparent; /* Set the background color of the buttons as transparent */
  -fx-text-fill: #333333; /* Set the text color of the buttons */
  -fx-font-size: 14px; /* Set the font size of the button text */
  -fx-padding: 10px 20px; /* Set the padding around the button text */
  -fx-border-width:0.1px;
  -fx-border-color: black;
}
.nav-button1 {
  -fx-background-color: #dc3545;
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
  -fx-padding: 10px 20px;
  -fx-border-width: 0.1px;
  -fx-border-color: black;
  -fx-transition: -fx-background-color 0.3s; /* Add a transition effect for smooth color change */
}

.nav-button1:hover {
  -fx-background-color: #a63036; /* Darker red for hover effect */
}


.nav-button:hover {
  -fx-background-color: #dddddd; /* Set the background color of the buttons when hovered */
}

.nav-button:pressed {
  -fx-background-color: #bbbbbb; /* Set the background color of the buttons when pressed */
}

.nav-button:selected {
  -fx-background-color: #555555; /* Set the background color of the selected button */
  -fx-text-fill: #ffffff; /* Set the text color of the selected button */
}


