.password-field-text {
    -fx-background-color: white;
    -fx-background-radius: 2;
    -fx-padding: 3 5;
    -fx-border-color: gray;
    -fx-border-radius: 2;
    -fx-border-width: 1;
    -fx-text-fill: transparent; /* Hide the entered text */
    -fx-prompt-text-fill: gray; /* Display prompt text color */
}
